h1
{
  color:#000000 ;
}

#main-container
{
    margin: 50px auto;
    width: 600px;
}

table
{
    background-color: rgba(255, 255, 255, 0.548);
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th, td
{
    font-weight: bold;
    padding: 20px;
}

thead
{
    font-weight: bold;
    background-color: silver;
    border-bottom: solid 5px #c99300;
    color: rgb(0, 0, 0);
}

tr:nth-child(even)
{
    font-weight: bold;
    background-color: #ddd;
}

tr:hover td
{
    background-color: #cf9800;
    color: white;
}
